body,dl,dd,p,h1,h2,h3,h4,h5,h6,figure{margin:0;}
ol,ul{margin:0;padding:0;list-style:none;}
a{text-decoration:none;color: inherit;}
img{border:none;}
button, input{outline: none;}
.fix:after{content: "";display: block;clear: both;}
.fr{float: right;}
.fl{float: left;}
i{font-style: normal;}
b{font-weight: normal;}
html,body{width: 100%;height: 100%;border: 0.1px solid transparent;}